.container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: black;
    margin: 10px 0 0 0;
    cursor: pointer;
}