.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        margin: 50px 0;
        font-family: 'Neucha', cursive;
    }

    &__avatar {
        margin: 20px 0 30px;
    }
}